/* ここから下に記載していく */
@charset "utf-8"
.wrapper{
    max-width: 1366px;
    margin: auto;
}

/* Headerセクション */
.header-wrapper{
    display: flex;
    justify-content: space-between;
    height: 121px;
    align-items: center;
}

.logo-image{
    margin: 0 0 0 30px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 0 50px 0 0;
}

.nav-item>a{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;   
}

/* メインビジュアル */
.mainvisual{
    position: relative;
    margin: 0 0 60px;
}


.mainvisual-text{
    position: absolute;
    font-size: 48px;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-100%,0);
}

.mainvisual-text2{
    position: absolute;
    width: 800px;
    font-size: 36px;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,80%,0);
}

/* Bodyセクション */
body{
    background: white;
    width: 1366px;
    color: ;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.text-center{
    text-align: center;
}



/* Aboutセクション */
.profile__title{
    margin: 0 0 30px;
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    text-transform: uppercase;
}

.profile__summary{
    margin: 0 0 60px;
}

.profile__main{
    margin: 0 0 40px;
    line-height: 2.0;
}

.profile__end{
    margin: 0 0 80px;
    line-height: 2.0;
}

/* Imagesセクション */
.images__list{
    width: 1366px;
    display: flex;
    margin: 0 0 0 0;
}

.images__item{
    width: 25%;
    /* width: 341.5px; */
    /* height: 226.2px; */
}

/* Courseセクション */
.course__title{
    margin: 60px 0 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.course__summary{
    margin: 0 0 60px;
    line-height: 2.0;
}

.contents-container{
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-areas: 
    "leftarea rightarea"
    ;
}

.item-left{
    grid-column: leftarea;
}

.item-right{
    grid-column: rightarea;
}

.course__subtitle{
    width: 480px;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin: 120px 0 40px 50px;
}

.course__subtitle-reverse{
    text-align: left;
    width: 480px;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin: 120px 0 40px 152px;
}

.course__explanation{
    width: 480px;
    font-size: 16px;
    line-height: 2.0;
    margin: 0 0 0 50px;
}

.course__explanation-reverse{
    width: 480px;
    font-size: 16px;
    line-height: 2.0;
    margin: 0 0 0 152px;
}



/* NEWSセクション */
.news__list{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto auto 60px;
}

.news__list-item{
    width: 300px;
}

.news__list-item:hover{
    background-color: whitesmoke;
    border-color: #ffd61a;
    font-weight: bold;
}

.news__title{
    margin: 60px 0 30px;
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    text-transform: uppercase;
}

.news__subtitle{
    margin: 0 0 60px;
}

.news__eyecatch{
    margin: 0 0 30px;
}

.news__date{
    margin: 0 0 24px;
}

.news__body{
    width: 300px;
}

.btn{
    display: block;
    width: 300px;
    margin: auto;
    padding: 21px 0;
    background-color: #ffd61a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
  background-color: whitesmoke;
  border-color: #ffd61a;
  color: #ffd61a;
}


/* Accessセクション */
.access__title{
    margin: 60px 0 30px;
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.access__subtitle{
    margin: 0 0 60px;
}

.show__map{
    margin: 0 0 60px;
}

.access-info-wrapper{
    width: 540px;
    margin: auto;
}

.access-info{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.access-info-title{
    width: 160px;
    padding: 8px 0 0 0;
}

.access-info-item{
    width: 380px;
    margin: 8px 0 8px 0;
}

/* Contactセクション */
#contact{
    padding: 60px 0 140px;
}

.contact__title{
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.contact__summary{
    margin: 0 0 60px;
}

.contact__catchy{
    margin: 0 0 30px;
    line-height: 2.0;
}

.contact__notice{
    margin: 0 0 70px;
    line-height: 2.0;
}

.form-wrapper{
    width: 600px;
    margin: auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.form-title{
    width: 180px;
    margin: 0 64px 0 0;
    padding: 16px 0 0 0;
    line-height: 1.5;
}

.form-item{
    width: 328px;
    margin: 8px 0 8px 8px;
}

.form-selectbox {
	overflow: hidden;
    width: 100%;
    height: auto;
	margin: 10px auto;
    text-align: center;
    font-size: 16px;
}

.form-selectbox select{
    padding: 8px;
    width: 100%;
}

.form-parts{
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #bfbfbf;
    padding: 8px;
    width: 100%;
}

/* Footerセクション */

.footer{
    padding: 30px 0;
    background-color: #707070;
}

.copyrights{
    color: white;
}